<ul class="nav flex-column bg-light-blue">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ path('account') }}">Mes commandes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Mes adresses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('modify-pwd') }}">Modifier mon mot de passe</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-disabled="true" href="{{ path('logout') }}">Me déconnecter</a>
    </li>
</ul>